@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="20"><rect x="0" y="0" width="2" height="20" fill="black"/></svg>') 1 10, text !important;
}

a, button {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="20"><rect x="0" y="0" width="2" height="20" fill="black"/></svg>') 1 10, text !important;
}